$(".player-cards").append('<%= j image_tag("cards/clubs/#{@next_card}", class: "card") %>')
$(".p_total").html('<%= "Total: #{@player_total}" %>')
$(".game-status").html('<p><%= @game_result %></p>')
